/**
 * Calendar toolbar
 */

.availability-calendar-toolbar {
	padding-bottom: 15px;
	font-size: 1.4em;
	font-weight: bold;
}

.availability-calendar-toolbar span:last-child {
	float: right
}

.availability-calendar-toolbar input {
	font-weight: bold;
	cursor: pointer;
	outline: 0;
}

.availability-calendar-toolbar input:first-child {
	margin-right: 5px;
	border-radius: 6px;
}

.availability-calendar-toolbar input:nth-child(2) {
	border-radius: 6px 0 0 6px
}

.availability-calendar-toolbar input:last-child {
	margin-left: -1px;
	border-radius: 0 6px 6px 0;
}


/**
 * Calendar table and cells
 */

.availability-calendar {
	width: 100%;
	background: #FFF;
	table-layout: fixed;
	border-collapse: collapse;
}

.availability-calendar th,
.availability-calendar td {
	border: 1px solid #DDD;
	padding: 5px;
}

.availability-calendar td {
	height: 50px;
	vertical-align: top;
	text-align: right;
	background-color: #9fff88;
}

.availability-calendar .ex-month {
	opacity: 0.4
}

.availability-calendar .unavailable {
	position: relative;
	background-color: #F88;
}

.availability-calendar .unavailable div {
	display: none;
	position: absolute;
	top: 40%;
	left: 0;
	right: -1px;
	height: 30px;
	background: #F88;
	border-top: 1px solid #A33;
	border-bottom: 1px solid #A33;
}

.availability-calendar .unavailable:last-child div {
	right: 0
}

.availability-calendar .unavailable .first {
	left: 51%;
	border-radius: 6px 0 0 6px;
	border-left: 1px solid #A33;
}

.availability-calendar .unavailable .last {
	right: 51%;
	border-radius: 0 6px 6px 0;
	border-right: 1px solid #A33;
}